/* -----------------------------------------------------------------------

   Rattan CSS Framework
   http://github.com/kriskhaira/rattan

----------------------------------------------------------------------- */

* { margin:0; padding:0; }
body { color:#333; font-size: 0.8125em; }
body { font-family: "Lucida Grande", "Verdana", "Gargi_1.7", "Jamrul", "Garuda", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

table, p, ul, ol, h1, h2, h3, h4, h5, h6, hr, img, pre, .block { margin-bottom:1em; }
blockquote { margin-left:1.5em; }
ul, ol { padding-left:1em; }
li { margin:0; margin-left:1em; }
ul ul, ul ol, ol ul, ol ol { margin-bottom:0; }
ol ol { list-style: lower-alpha; }
dt { font-weight: bold; }

h1 { font-size: 2.3em;}
h2 { font-size: 1.85em; }
h3, legend { font-size: 1.5em; }
h4 { font-size: 1.35em; }
h5 { font-size: 1.24em; }
h6 { font-size: 1.16em; }
h1, h2, h3, h4, h5, h6, legend {
  margin-bottom: 0.4em;
  font-family:"Helvetica Neue", "Helvetica", "FreeSans", "Gargi_1.7", "Malayalam", Arial, sans-serif;
  font-weight: bold;
}

a { color: blue }
a:hover { color: red; text-decoration: none; }

pre, code { font-family: "Consolas", "Courier", "FreeMono", "Nimbus Mono L", monospace; }
pre.print_r {
    margin:100px 0;
    padding:4px;
    border:4px solid lightgreen;
}

/* Notices */
.notice, .success, .critical,
.messages, .status, #messages /* Drupal */ {
	background: #fc0;
	color: #000;
	line-height: 140%;
	padding: 0.8em;
	margin: 0;
	margin-bottom: 1em;
	clear:both; display:block; overflow:hidden;
	font-size: 80%;
}
ul#messages {
    list-style: none;
    font-weight: bold;
}
#messages li{
    margin-left: 0;
}
.success {
	background: green;
	color: #fff;
}
.critical,
.warning {
    background: darkred;
	color: #fff;
}

.nodata {
    color: #777;
    clear:both; display:block; overflow:hidden;
}

/* Images */
img { padding:0; margin:0; }
a img { border: none; background:none; }
img.center { display: block; margin:0 auto; }
img.right, img.left { padding:4px; display:inline; }
img.right { margin: 0 0 2px 10px; }
img.left { margin: 0 7px 2px 0; }
.right { float: right; }
.left { float: left; }

/* Debugging */
.fix { color:red; font-weight:bold; }

/* Tables */

table {
  border-collapse:collapse;
  margin-left:2px;
}
table,
table td,
table th {
  border:1px solid #ccc;
  padding:0.3em;
}
th {
  text-align:left;
  padding-right:10px;
}
thead, th, tfoot {
    font-weight: bold;
}
table td, table tr, td, th {
  vertical-align:top;
}

div.admin {
  margin-bottom:20px;
  clear:both; display:block; overflow:hidden;
}

p.admin, span.admin {
  font-size:0.9em;
  font-style:italic;
  color:brown;
}

/**
 * DRUPAL PANELS
 *
**/

.panel-display .panel-panel .inside {
    margin:0;
}

/**
 * TABS
 *
**/

#tabs-wrapper,
.links,
.terms {
    clear:both; display:block; overflow:hidden;
}
ul.tabs,
.links ul,
.terms ul,
ul.links {
    padding-left: 0;
    clear:both; display:block; overflow:hidden;
}
ul.tabs li,
.links ul li,
.terms ul li,
ul.links li {
    list-style: none;
    margin-left: 0;
    float: left;
    margin-right: 1em;
}

/**
 * MENU
 *
**/

.menu ul.links li {
    float: none;
}

/**
 * FORMS
 * Anything with 'form-item' is meant for Drupal
**/
form { margin-bottom: 1em; }

form fieldset {
  margin:0; padding:0; border:0;
  margin-bottom:20px;
  padding-bottom:20px;
  border-bottom:1px solid #ccc;
}

  form fieldset.last {
    border-bottom:0;
    padding-bottom:0;
    margin-bottom:0;
  }
  form .info1,
  form .info2 {
    width:20%;
  }
  form .info1 {
    float: left;
  }
  form .info2 {
    float: right;
  }
  form .info1, form .info2, .formHint {
      color: #666;
      font-size: 80%;
  }
  form .submit a {
      font-size: 80%;
  }
  
  form .instructions {
    font-style: italic;
  }

  form .elements {
    float: left;
    width:60%;
  }
  form .elements div {
      margin-bottom: 1em;
  }
  form .error,
  form #errorMsg,
  form .errorlist,
  form .errorField {
    color: red;
    font-weight: bold;
    font-size: 90%;
    display: block;
    clear:both; display:block; overflow:hidden;
  }

form label {
  display:block;
  font-weight:bold;
  margin-bottom: 0;
}
form ul,
form ul li {
  margin:0; padding:0;
  list-style: none;
}


form .elements input,
form .elements a,
button {
  margin-right: 4px;
}
button {
    padding:4px;
}
.checkboxes label,
.checkbox label {
  display: inline;
}

/* Inline */
.inline label {
    display: block;
    float: left;
    width:200px;
    text-align: right;
    margin-right:4px;  
}
    .inline .inline_error {
        clear:both; display: block;
    }

    .inline .checkboxes label,
    .inline .checkbox label {
        display: inline;
        float:none;
    }
    /* move these to the right to align them */
    .inline #errorMsg,
    .inline p.error,
    .inline span.error,
    .inline .errorlist, /* django */
    .inline p.errorField, /* django */
    .inline .submit,
    .inline .checkboxes input,
    .inline .checkbox input,
    .inline .formHint,
    .inline .cke_editor_id_body {
        margin-left: 204px;
    }
    .inline_error {
        display:inline;
    }
    
    .compact label {
        width:100px;
    }
    .inline .compact #errorMsg,
    .inline .compact p.errorField,
    .inline .compact .errorlist,
    .inline .compact .submit,
    .inline .compact .checkboxes input,
    .inline .compact .checkbox input,
    .inline .compact .formHint,
    .inline .cke_editor_id_body {
        margin-left: 104px;
    }
    


/**
 * STRUCTURE
 *
**/

#wrap {
  width:960px;
  margin:0 auto;
  clear:both; display:block; overflow:hidden;
}
#header {
  margin-bottom:20px;
}
#content {
    margin-bottom:30px;
    clear:both; display:block; overflow:hidden;
}
#content p,
#content ul,
#content ol {
    line-height:1.6;
}
#primary {
  float: left;
  width:70%;
}
#secondary {
  width:25%;
  float: right;
}


#secondary .block a {
    text-decoration: none;
}

/**
 * FOOTER
 *
**/
#footer {
  margin-bottom: 1em;
  clear:both; display:block; overflow:hidden;
}

  #footer ul {
    padding-left: 0;
  }
  #footer ul li {
    margin-left: 0;
    list-style: none;
  }

/* Drupal */
#footer .menu {
    text-align: right;
}
#footer .menu li {
    float: left;
    margin-right: 1em;
}




/**
 * ACTIONS
 *
**/

ul.actions {
  list-style:none; margin-left:0;
}
ul.actions li {
  display: inline;
}

ul.admin_actions { list-style:none; margin-left:0; }
ul.admin_actions a {
  color: #900;
  font-weight: bold;
  font-size: 0.9em;
}

.views-field-edit-node {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8em;
}
.views-field-edit-node a {
    opacity:0.5;
}
.views-field-edit-node a:hover {
    opacity:1;
}

/**
 * PAGINATION
 *
**/

.pagination {
  padding:2px;
  font-weight:bold;
  padding-left:0;
  font-size: 1em;
  text-transform: uppercase;
}

.pagination a,
.pagination span.current {
  padding:2px 1px;
}

.pagination span.pages,
.pagination span.current,
.pagination span.extend,
.pagination a {
  margin-right:6px
}

.pagination span.extend {
  display:none;
}

.pagination span.pages {
  border-right: 1px dashed #ccc;
  padding-right:10px ;
  color:#777;
  font-weight:normal;
}

.pagination span.current {
  font-weight:normal;
  color:#777;
}

/* Drupal pagination */

.pager {
    padding-left: 0;
    clear:both; display:block; overflow:hidden;
}
.pager li {
    margin-left: 0;
    list-style: none;
    float: left;
    margin-right: 1em;
}
.pager li a {
    text-decoration: none;
}

/**
 * META
 *
**/

.meta, .counter, .help {
    font-size: 80%;
    color: #777;
}


/**
 * DRUPAL VIEWS AND NODES
 *
**/

.views-row,
.node {
    margin-bottom: 2em;
}

/**
 * FACEBOX OVERRIDE
 *
**/

#facebox table,
#facebox table td,
#facebox table th {
    border:0;
}

/**
 * DEBUGGING PURPOSES
 *
**/

.clear { clear:both; display:block; }
